extends layout

block content
    h1 Hej på dig!
    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum aliquam quibusdam doloremque beatae quod hic quis mollitia, culpa commodi suscipit esse, nemo cum et, nobis illo error neque corporis ad.

    div(class="container-fluid")
        div(class="row")
            div(class="col-12 första")
            
            div(class="row")
                img(src="bilder/bilden1234.png" style="width:82px; height:86px" title="White flower")
            
            