extends layout

block content
    h1 Hej på dig!
    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum aliquam quibusdam doloremque beatae quod hic quis mollitia, culpa commodi suscipit esse, nemo cum et, nobis illo error neque corporis ad.
